In [1]:
import pandas as pd

In [2]:
# Show unlimited number of columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
features_df = pd.read_parquet('../../data/processed/features_h24_v1.parquet')  # or the correct path

In [7]:
features_df.iloc[24:30, :]

,station_id,timestamp,split,hour,dow,month,is_weekend,pm25,pm10,o3,tair_10m,rh_10m,press,r_global,wind_speed,wind_dir,y_h01,y_h02,y_h03,y_h04,y_h05,y_h06,y_h07,y_h08,y_h09,y_h10,y_h11,y_h12,y_h13,y_h14,y_h15,y_h16,y_h17,y_h18,y_h19,y_h20,y_h21,y_h22,y_h23,y_h24,pm25_lag1,pm25_lag2,pm25_lag3,pm25_lag6,pm25_lag12,pm25_lag24,pm25_lag48,pm25_lag72,pm25_lag168,pm25_roll_mean24,pm25_roll_std24,pm25_roll_mean72,pm25_roll_std72,pm25_roll_mean168,pm25_roll_std168,has_pm10,pm10_lag1,pm10_lag24,pm10_roll_mean24,has_o3,o3_lag1,o3_lag24,o3_roll_mean24,nbr_pm25_mean_lag1,nbr_pm25_mean_lag24
24,BAR-TORR,2019-01-02 01:00:00,train,1,2,1,0,9.38444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.02637,10.51870,7.00512,10.48380,11.64220,8.19848,16.57630,16.78830,8.45400,7.29090,7.34153,8.61464,2.46159,4.92305,1.22706,3.64067,1.20028,3.57491,11.84460,8.25766,11.7602,15.24880,10.53980,11.68320,5.87372,16.47780,7.07827,7.15973,8.59609,50.3542,NaN,NaN,NaN,15.576468,11.408270,18.830140,19.456700,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,12.309400,97.792333
25,BAR-TORR,2019-01-02 02:00:00,train,2,2,1,0,7.02637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.51870,7.00512,10.48380,11.64220,8.19848,16.57630,16.78830,8.45400,7.29090,7.34153,8.61464,2.46159,4.92305,1.22706,3.64067,1.20028,3.57491,11.84460,8.25766,11.76020,15.2488,10.53980,11.68320,10.50110,9.38444,5.87372,16.47780,14.23680,6.16670,35.0655,NaN,NaN,NaN,13.795174,8.578888,18.452312,19.140495,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,11.475643,79.573200
26,BAR-TORR,2019-01-02 03:00:00,train,3,2,1,0,10.51870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.00512,10.48380,11.64220,8.19848,16.57630,16.78830,8.45400,7.29090,7.34153,8.61464,2.46159,4.92305,1.22706,3.64067,1.20028,3.57491,11.84460,8.25766,11.76020,15.24880,10.5398,11.68320,10.50110,23.31440,7.02637,9.38444,5.87372,11.83850,8.61872,29.1859,NaN,NaN,NaN,12.576081,7.318559,18.012853,18.887177,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,10.656547,68.948067
27,BAR-TORR,2019-01-02 04:00:00,train,4,2,1,0,7.00512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.48380,11.64220,8.19848,16.57630,16.78830,8.45400,7.29090,7.34153,8.61464,2.46159,4.92305,1.22706,3.64067,1.20028,3.57491,11.84460,8.25766,11.76020,15.24880,10.53980,11.6832,10.50110,23.31440,9.31241,10.51870,7.02637,9.38444,7.07827,4.88556,27.9737,NaN,NaN,NaN,11.764464,6.365907,17.735291,18.576472,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,11.434557,48.827033
28,BAR-TORR,2019-01-02 05:00:00,train,5,2,1,0,10.48380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.64220,8.19848,16.57630,16.78830,8.45400,7.29090,7.34153,8.61464,2.46159,4.92305,1.22706,3.64067,1.20028,3.57491,11.84460,8.25766,11.76020,15.24880,10.53980,11.68320,10.5011,23.31440,9.31241,19.74480,7.00512,10.51870,7.02637,16.47780,NaN,24.4057,NaN,NaN,NaN,10.852787,5.361226,17.352071,18.341658,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,11.014400,43.641033
29,BAR-TORR,2019-01-02 06:00:00,train,6,2,1,0,11.64220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.19848,16.57630,16.78830,8.45400,7.29090,7.34153,8.61464,2.46159,4.92305,1.22706,3.64067,1.20028,3.57491,11.84460,8.25766,11.76020,15.24880,10.53980,11.68320,10.50110,23.3144,9.31241,19.74480,20.89510,10.48380,7.00512,10.51870,5.87372,4.80280,15.1033,NaN,NaN,NaN,10.247487,4.474006,17.115234,18.056251,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,11.775950,36.132033

In [4]:
features_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1739772 entries, 0 to 1739771
Data columns (total 65 columns):
 #   Column               Dtype
---  ------               -----
 0   station_id           object
 1   timestamp            datetime64[ns]
 2   split                object
 3   hour                 int32
 4   dow                  int32
 5   month                int32
 6   is_weekend           int64
 7   pm25                 float64
 8   pm10                 float64
 9   o3                   float64
 10  tair_10m             float64
 11  rh_10m               float64
 12  press                float64
 13  r_global             float64
 14  wind_speed           float64
 15  wind_dir             float64
 16  y_h01                float64
 17  y_h02                float64
 18  y_h03                float64
 19  y_h04                float64
 20  y_h05                float64
 21  y_h06                float64
 22  y_h07                float64
 23  y_h08                float64
 24  y_h09                float64
 25  y_h10                float64
 26  y_h11                float64
 27  y_h12                float64
 28  y_h13                float64
 29  y_h14                float64
 30  y_h15                float64
 31  y_h16                float64
 32  y_h17                float64
 33  y_h18                float64
 34  y_h19                float64
 35  y_h20                float64
 36  y_h21                float64
 37  y_h22                float64
 38  y_h23                float64
 39  y_h24                float64
 40  pm25_lag1            float64
 41  pm25_lag2            float64
 42  pm25_lag3            float64
 43  pm25_lag6            float64
 44  pm25_lag12           float64
 45  pm25_lag24           float64
 46  pm25_lag48           float64
 47  pm25_lag72           float64
 48  pm25_lag168          float64
 49  pm25_roll_mean24     float64
 50  pm25_roll_std24      float64
 51  pm25_roll_mean72     float64
 52  pm25_roll_std72      float64
 53  pm25_roll_mean168    float64
 54  pm25_roll_std168     float64
 55  has_pm10             int64
 56  pm10_lag1            float64
 57  pm10_lag24           float64
 58  pm10_roll_mean24     float64
 59  has_o3               int64
 60  o3_lag1              float64
 61  o3_lag24             float64
 62  o3_roll_mean24       float64
 63  nbr_pm25_mean_lag1   float64
 64  nbr_pm25_mean_lag24  float64
dtypes: datetime64[ns](1), float64(56), int32(3), int64(3), object(2)
memory usage: 842.9+ MB

In [11]:
dups = features_df.duplicated(["station_id", "timestamp"]).sum()

In [12]:
dups

np.int64(869886)

In [13]:
print(features_df.groupby(["station_id","timestamp"]).size().value_counts().head(10))

2    869886
Name: count, dtype: int64

In [14]:
features_df.shape

(1739772, 65)